.nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.nav div {
  margin: 2vw;
}

.nav a {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
  margin: 10px;
}


.nav a img {
  width: 35px;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-rows: 100vh 70vh 80vh 90vh 30vh;
    font-family: 'Hanken Grotesk';
    font-style: normal;
}

.landing {
  place-self: center;
}

#landing, #about, #projects, #experiences, #contact {
  max-width: 80vw;
  scroll-margin: 17vh;
}

h1 {
    text-align: left; 
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    letter-spacing: -0.02em;
}

.greeting-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.intro {
  font-weight: 550;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -0.02em; 
  }

.angela-wave {
  width: 300px;
}

.about-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.about-button {
  cursor: pointer;
  border: none;
  padding: 0;
  background: none;
}

.about-grid button p {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
}

.about-grid button img {
  width: 142px;
}

.values-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.value {
  font-weight: 550;
  font-size: 18px;
  line-height: 28px;
}

.values-grid img {
  place-self: center;
  width: 80px;
  margin-top: 5px;
}

.value-desc {
  align-self: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}

.love-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.love-grid-item {
  margin: 10px;
}

.love-grid-item p {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}

.love-grid-item img {
  width: 125px;
  margin-top: 5px;
}

.fun-facts-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 800px;
  max-width: 80%;
  overflow: auto;

}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  background-color: #EBEBEB;
  box-shadow: 0 2px 0 #BFBFBF;
  align-items: center;
}

.modal-header div {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
}

.modal-header button {
  cursor: pointer;
  color: #fff;
  background-color: #F84A4C;
  border-color: #F84A4C;
  border-radius: 50%;
}

.modal-body {
  padding: 10px 15px;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
  transition: 200ms ease-in-out;
  pointer-events: none;
  z-index: 10;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.swiper {
  width: 78vw;
  height: 50vh;
}

.swiper-slide {
  cursor: pointer;
  border: none;
  width: 400px !important;
  background-color: #E9AE99;
  opacity: 70%;
  border-radius: 15px;
}

.swiper-button-next, .swiper-button-prev {
  color: #343434 !important;
  height: 100px !important;
}

.swiper-pagination-bullet-active {
  background: #343434 !important;
}

.experiences-grid {
    text-align: left;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.experience-column {
  display: grid;
  grid-template-columns: 10% 70% 20%;
  margin-bottom: 5vh;
}

.experience-column img {
  place-self: center;
  width: 5vw;
}

.experience-column div {
  align-self: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-left: 3px;
}

h3 {
  font-weight: 650;
  font-size: 18px;
  line-height: 30px;
}


.contact {
  display: flex;
  justify-content: space-between;
  padding: 1vw 3vw 1vw 3vw;
  border: 3px solid #343434;
  border-radius: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.logos {
  display: grid;
  grid-template-columns: auto auto auto;
}


.logos div {
  margin-left: 3vw;
  align-self: center;
}

.logos div a {
  text-decoration: none;
  color: #000;
}

.logos img {
  height: 30px;
  width: 30px;
}

.contact p {
  align-self: center;
}

.goodbye {
  font-weight: 350;
  font-size: 15px;
  line-height: 30px;
}

/* @media screen and (max-width: 950px) {
 
 } */
 
 
 @media screen and (max-width: 650px) {
  h1 {
    font-size: 25px;
    line-height: 30px;
  }

  .greeting-text {
    font-size: 15px;
    line-height: 15px;
  }

  .angela-wave {
    width: 250px; 
  }

  .intro {
    font-size: 18px;
    line-height: 30px;
  }

  .about-grid {
    grid-template-columns: auto auto;
  }

  .about-grid button p {
    font-size: 15px;
    line-height: 25px;
  }

  .about-grid button img {
    width: 100px;
  }

  .logos img {
    height: 20px;
    width: 20px; 
  }

  .experience-column div {
    font-size: 15px;
    line-height: 15px;
  }

  .experience-column img {
    width: 40px;
  }

  h3 {
    font-size: 15px;
    line-height: 25px;
  }

  .contact {
    font-size: 15px;
    line-height: 25px;
  }

  .goodbye {
    font-size: 15px;
    line-height: 25px;
  }
 }

/* TODO: make nav responsive */
@media screen and (max-width: 480px) {
  .container {
    grid-template-rows: 80vh 50vh 60vh 70vh 10vh;
  }

  h1 {
    font-size: 25px;
    line-height: 30px;
  }

  .greeting-text {
    font-size: 12px;
    line-height: 15px;
  }

  .angela-wave {
    width: 150px; 
  }

  .intro {
    font-size: 18px;
    line-height: 25px;
  }

  .about-grid button p {
    font-size: 15px;
    line-height: 20px;
  }

  .about-grid button img {
    width: 70px;
  }

  .values-grid img {
    display: none;
  }

  .love-grid-item img {
    display: none;
  }

  .projects-grid {
    grid-template-columns: 100%;
  }

  .experience-column div {
    font-size: 12px;
    line-height: 12px;
  }

  .experience-column img {
    width: 30px;
  }

  h3 {
    font-size: 15px;
    line-height: 20px;
  }

  .contact {
    font-size: 12px;
    line-height: 15px;
  }

  .goodbye {
    font-size: 12px;
    line-height: 15px;
  }
}
